<div class="social_icons">
<ul class="pull-right">
	<li class ="nav"><%= image_tag("fb-up.png", alt: "Facebook") %><span></span></a></li>
	<li class ="nav"><%= image_tag("tw-up.png", alt: "Twitter") %><span></span></a></li>
	<li class ="nav"><%= image_tag("yt-up.png", alt: "YouTube") %><span></span></a></li>
	<li class ="nav"><%= image_tag("gp-up.png", alt: "Google+") %><span></span></a></li>
	<li class ="nav"><%= image_tag("gh-up.png", alt: "GitHub") %><span></span></a></li>
</ul>
</div>
