<% content_for :title do %>Swimming with mmofish<% end %>
<% content_for :description do %>Welcome to the holding pool for mmofish.
Whilst we grow from a small fishling you can find us here, alongside some occasional updates,
and the chance to register for details of our launch, services, and beta.<% end %>
<!-- The hiiden 'h1' below is to provide the page title to unit tests! -->
<h1 class="hidden">mmofish</h1>
<!-- Grid Structure for the homepage -->

<!-- Beta-unit -->
	<div class="beta">
		<a href="#navbar-toggle"><i class="icon-cog icon-4x"></i></a><p class="beta-text">work in progress</p>
	</div>
	
<!-- The Hero-Unit -->
	<div class="row">
  		<div class="span10 offset1">
  			<%= render 'home_hero' %>  
  		</div>
	</div>

<!-- The MiddleNav-->
	<div class="row">
  		<div class="span12">
  			<%= render 'midnav'%>
  		</div>
	</div>
<!-- Just Below MiddleNav-->
	<div class="row">
				<div class="span5 offset1">
			<div class="row">	
				<div class="span4">
					 <%= render 'email_signup'%>
				</div>
				<div class="span1">
				 <%= render 'shared/social_icons'%>
				</div>
			</div>
		</div>
		
		<div class="span5 git-stuff">
			 <%= render 'home/git/git'%>
		</div>	
	</div>
	

<script>
	$(function () {
		$('#home-panes a[href="#1"]').tab('show');
	})
</script>